.navbar-mufan {
  background-color: #e95420;
  border-color: #d34615;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

li.navbar-link:hover {
  background-color: #ac3911;
}

.navbar-link {
  color: #ffffff;
}

.logo-mini {
  width: 30px;
  height: 30px;
}